{% if num == 1 %}

<a href="{{ path('bdloc_app_cart_findcart') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mon panier ( {{num}} article )</a>


{% endif %}

{% if num > 1 %}

<a href="{{ path('bdloc_app_cart_findcart') }}"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Mon panier ( {{num}} articles )</a>

{% endif %}





