


{% if book.stock == 1 %} 
    <form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">

        <button type="submit" class="btn btn-panier" id="ajouterdetails">Ajouter au panier</button>

    </form>

{% elseif cartItem  == 1 %}                         
    {% if cart %}
            {% for cartItem in cart.cartItems %}
                {% if(cartItem.book.id == book.id) %}

                    <form method="POST" action=" {{ path('bdloc_app_cart_add', {id: book.id})}}">
                        <button type="submit" class="btn btn-panier-in" id="dansvotrepanierdetails" disabled="disabled" >Dans votre panier</button>
                    </form>

                {% endif %}
            {% endfor %}
     {% endif %}       
{% endif %}
