{% extends '::base.html.twig' %}

{% block main_content %}

    Votre commande est validée !<br/><br/>

    Date limite de retour des bds : {{cart.dateReturn|date('d/m/Y')}}<br/><br/>

    <a href="{{ path('bdloc_app_book_allbooks', {'page':1, 'nombreParPage': 12, 'direction': 'ASC', 'entity': 'dateCreated'}) }}" title="Retour au catalogue">Retour au catalogue</a>
    
{% endblock %}