<html>
<body>
    <h1>Confirmation de votre commande</h1>

    Nombre de bds commandées : {{cart.cartItems|length}}
    <a href="" title="Voir la liste">Voir la liste</a><br/><br/>
    Date de livraison estimée : <br/><br/>
    Au point-relais : {{user.username}}
    <a href="" title="Changer de point-relais">Changer de point-relais</a><br/><br/>
    <a href="" title="Valider ma commande">Valider ma commande</a>

    
            

</body>
</html> 