<html>
    <head>
    </head>
        <body>

            {% block content %}

            <fieldset>
                <legend>Désabonnement BDLOC!!!</legend>
            </fieldset>

            <h2>Confirmation de votre désabonnement</h2>
            <p>Vous êtes désormais officiellement désabonné de Bdloc. Les raisons que vous nous avez indiquées sont les suivantes :</p>
            <p>{{raisons}}</p>
            <a href="{{ url('bdloc_app_default_home')  }}" title="Bdloc, premier de Bd en ligne">Un regret ? Retourner sur BDLOC</a>
            {% endblock %}

        </body>
</html>