<html>
    <head>
    </head>
        <body>

            {% block content %}

         
             <h1>Réinitialistaion du mot de passe BDLOC!!! </h1>

            <h2>Cliquez sur le lien ci-dessous pour réinitialiser votre mot de passe</h2>
            <a href="{{ url('bdloc_app_security_newpassword', {token: user.token, email: user.email})  }}" title="nouveau mot de passe">Changer votre mot de passe</a>
            {% endblock %}

        </body>
</html>