{% extends "::base.html.twig" %}


{% block main_content %}

<div id="etape" class="row">
<div class="col-md-12 col-md-offset-1 col-lg-10 col-lg-offset-2">
  
  <div class="col-sm-4 col-md-3">
    <div class="etape-active">COORDONNEES</div>
    <div class="parallelogram-active"></div>
  </div>
  
  <div class="col-sm-4 col-md-3">
    <div class="etape-active">LIVRAISON</div>
    <div class="parallelogram-active"></div>
  </div>
  
  <div class="col-sm-4 col-md-3">
    <div class="etape">PAIEMENT</div>
    <div class="parallelogram"></div>
  </div>
  </div>
</div>

<fieldset>
<legend>Choisissez un Point Relais dans la liste</legend>
</fieldset>


{{ form(dropSpotForm, {'attr':{'novalidate': 'novalidate'}}) }}
<br>

<div id="map-container" class="col-md-6"></div>

{% endblock %}

{% block javascripts %}

    <script src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://www.googleapis.com/geolocation/v1/geolocate?key=API_KEY"></script>
    <script type="text/javascript">


    <!-- affiche la map -->
    <script type="text/javascript"> 

    {% if app.user.dropSpot %}
      var userLat={{app.user.dropSpot.latitude}}
      var userLon={{app.user.dropSpot.longitude}} 
      {% else %}
        var userLat= 48.8534100
        var userLon=2.3488000
    {% endif %}
    </script>
    <script type="text/javascript" src="{{ asset('js/map.js') }}"> </script>


{% endblock %}
