{% extends "::base.html.twig" %}

{% block javascripts %}
<script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=API_KEY">
</script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>

        // On choppe notre input
        var input = document.getElementById("bdloc_appbundle_user_adress");

        // Paramètres
        var options = {
            types: ['address'],
            componentRestrictions: {
                country: 'fr'
            }
        }

        // On ajoute l'autocomplete
        var autocomplete = new google.maps.places.Autocomplete(input, options);
</script>
<script type="text/javascript">
      function initialize() {
        var mapOptions = {
          center: { lat: -34.397, lng: 150.644},
          zoom: 8
        };
        var map = new google.maps.Map(document.getElementById('map-canvas'),
            mapOptions);
      }
      google.maps.event.addDomListener(window, 'load', initialize);
    </script>
{% endblock %}
{% block main_content %}


<h1>Choisissez un Point Relais dans la liste  - Step 2/3</h1>


{{ form(dropSpotForm, {'attr':{'novalidate': 'novalidate'}}) }}

<div id="map-canvas"></div>

{% endblock %}


