{% extends "::base.html.twig" %}


{% block main_content %}

{% if app.user %}
            Bonjour {{ app.user.username }} !
            <a href="{{ path('logout') }}" title="Déconnectez-vous">Déconnexion</a>
        {% else %}
            Bonjour bel inconnu !
{% endif %}

<h1>Enregistrez-vous !</h1>

{{ form(registerForm) }}

{% endblock %}