{% extends "::base.html.twig" %}


{% block main_content %}


<legend>Enregistrez-vous !</legend>
<div class="form-group">
    <div class="col-md-12">
        <div class="col-md-6" id="formlog">
            <div class="form-group">
                {{ form(registerForm, {'attr':{'novalidate': 'novalidate'}}) }}
            </div>
        </div>
         <div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2 imagebd">
        <img alt="Sandman" src="{{ asset('img/bd-perso/batman.jpg') }}"></a>
     </div>
 </div>
    </div>
</div>
>>>>>>> e28542da286c827aa5fa5dcc20a8d6d634fff043

{% endblock %}
{% block javascripts %}

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=places"></script>
<script>

        // On choppe notre input
        var input = document.getElementById("bdloc_appbundle_register_adress");

        // Paramètres
        var options = {
            types: ['address'],
            componentRestrictions: {
                country: 'fr'
            }
        }

        // On ajoute l'autocomplete
        var autocomplete = new google.maps.places.Autocomplete(input, options);


</script>
{% endblock %}