{% extends "::base.html.twig" %}


{% block main_content %}

<fieldset>
<legend>Modifier votre mot de passe</legend>
</fieldset>
<div class="col-md-6">
    <div class="form-group">
        <div class="col-md-12 ">
			<form action="{{ path('login_check') }}" method="post">
			<label for="password">Ancien mot de passe</label>
			    <input type="password" id="password" name="_password" class="form-control" />
			</form>

			{{ form(updatePasswordForm, {'attr':{'novalidate': 'novalidate'}}) }}

		</div>
	</div>
</div>

<div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2">
        <img alt="hellboy" src="{{ asset('img/bd-perso/hellboy.jpg') }}"></a>
     </div>
 </div>
{% endblock %}