{% extends "::base.html.twig" %}


{% block main_content %}

	<fieldset>
    <legend>Modifier vos informations personnelles</legend>
    </fieldset>

<div class="col-md-6">
	<div class="form-group">
	    <div class="col-md-12 ">
			{{ form (updateProfileForm, {'attr':{'novalidate': 'novalidate'}}) }}
		</div>
	</div>
</div>

<div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2">
        <img alt="marvel comics" src="{{ asset('img/bd-perso/marvel_comics.jpg') }}"></a>
     </div>
 </div>

{% endblock %}