@import url(http://fonts.googleapis.com/css?family=Oswald:400,700,300);

/****************************************************
*													*
*													*
*					GENERALE						*
*													*
*													*
****************************************************/
body{
	background:#000;
	font-family: 'Oswald';
}

h1{
	color:#000;
}

h2, h3, h4, h5,{
	color:#fff;
}

.form-control:focus {
	border-color: #AA161A;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}

.pagina {
	color: rgb(170, 22, 26);
	font-weight: 300;
	font-size: 12px;
	text-transform: uppercase;
}

#retour {
	padding: 6px;
	position: fixed;
	top: 100px;
	right: 50px;
	width: 35px;
	height: 35px;
	background-color: #fff;
	color: #AA161A;
	font-size: 21px;
	display: block;
	text-align: center;
	z-index: 999;
}

#retour:hover {
	text-decoration: none;
	cursor: pointer;
}


.position-r{
	float:right;
}

.position-l{
	float:left;
}



p{
	color:#fff;
	font-weight:300;
	font-size:16px;
}

a{
	color: #AA161A;
	font-size:16px;
}

a:hover, a:focus {
color: #fff;
text-decoration: underline;
}

.justfy-txt{
text-align : justify;
}
/****************************************************
*													*
*													*
*					MENU HEADER						*
*													*
*													*
****************************************************/
.navbar-brand {
	float: left;
	height: 80px;

}

.navbar-inverse {
	background-color: #222;
	border-color: #3F3F3F;
}

#navbar-left{
	text-transform:uppercase;
	margin-top:20px;
	font-size: 16px;
	font-weight: 400;
}

#navbar-right {
	border-bottom: 1px dashed #444;
	font-size: 13px;
	font-weight: 300;
	color: #fff;
	margin-top: 10px;
	padding-bottom: 5px;
}

#navbar-right a{
	text-transform: uppercase;
	color:#fff;
	text-decoration:none;
	padding:0 0 0 15px ;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
color: #AA161A;
background-color: transparent;
}

#header{
	margin-top: 30px;
}

span{
	color: #AA161A;
}

/****************************************************
*													*
*													*
*					SLIDER							*
*													*
*													*
****************************************************/

.fondslide{
	position:relative;
	padding:10px;
	width:100%;
	height:auto;
	background: rgba(250, 250, 250, 0.8);
}

.titreslid{
	font-family: 'Oswald';
	font-size: 40px;
	text-transform:uppercase;

}

.responsive-slider .slides ul li .slide-body .caption.header {
	height: 250px;
	top: 35%;
	left: 33%;
	color: #000;
}

.responsive-slider .slides ul li .slide-body .caption.header h1 {
	text-transform:uppercase;
	font-size: 65px;
	font-weight:700;
}
.responsive-slider .slides ul li .slide-body .caption.sub {
	text-transform:uppercase;
	font-size: 25px;
	font-weight:300;
	color:#000;
	bottom: 5px;
	right: 0;
	top:85px;
}

.responsive-slider .slides ul li .slide-body .caption.sub2 {
	text-transform:uppercase;
	font-size: 14px;
	font-weight:300;
	color:#000;
	right: 0;
	top:120px;
}

.responsive-slider .slides ul li .slide-body .caption.img-loc120 {
top: 60%;
right: 6%;
width: 25%;
height: auto;
}

.responsive-slider .slides ul li .slide-body .caption.img-loc12 {
  top: 30%;
  right: 6%;
  width: 25%;
  height: auto;
}

.responsive-slider .slider-control {
position: absolute;
font-size: 20px;
color: #fff;
top: 40%;
background-color: #000;
padding: 10px;
}

.sub3{
	font-size:25px;
	width:200px;
	height:50px;
	text-transform:uppercase;
	right: 0;
	top: 160px;
	position: absolute;
	color: #fff;
	background-color: #AA161A;
	border-color: #AA161A;
}

.btn-success:hover, .btn-success:focus, .btn-success.focus, .btn-success:active, .btn-success.active, .open > .dropdown-toggle.btn-success {
	color: #fff;
	background-color: #449d44;
	border-color: #398439;
}


.responsive-slider .slides ul li .slide-body .caption.header h1.slide2 {
	text-transform: uppercase;
	font-size: 65px;
	font-weight: 700;
	height: 250px;
	top: 35%;
	left: 5%;
	color:#fff;
}

.slide3{
	color:#fff;
	font-size:42px;
	font-weight:700;
}
/****************************************************
*													*
*													*
*				SLIDER RESPONSIVE					*
*													*
*													*
****************************************************/
@media screen and (max-width: 1200px){
.responsive-slider .slides ul li .slide-body .caption.header {
	height:250px;
	top: 25%;
	left: 38%;
	color:#000;
	}
.responsive-slider .slides ul li .slide-body .caption.header h1 {
	text-transform:uppercase;
	font-size: 45px;
	font-weight:700;
}
.responsive-slider .slides ul li .slide-body .caption.sub {
	text-transform:uppercase;
	font-size: 16px;
	font-weight:300;
	color:#000;
	right: 0;
	top:65px;
}

.responsive-slider .slides ul li .slide-body .caption.sub2 {
	text-transform:uppercase;
	font-size: 12px;
	font-weight:300;
	color:#000;
	bottom: 5px;
	right: 0;
	top:85px;
}


.responsive-slider .slides ul li .slide-body .caption.img-loc120 {
  top: 45%;
  right: 10%;
  width: 15%;
}

.responsive-slider .slides ul li .slide-body .caption.img-loc12 {
  top: 15%;
  right: 10%;
  width: 15%;
}
}

/****************************************************
*													*
*													*
*					CATALOGUE						*
*													*
*													*
****************************************************/
.thumbnail {
	width: 270px;
	height: auto;
	display: block;
	padding: 10px 2px 0 2px;
	margin-bottom: 20px;
	line-height: 1.42857143;
	background-color: #fff;
	border-radius: 0px;
	float: left;
	margin-right: 20px;
}


.caption {
    height: 230px;
    overflow: hidden;
}

.thumbnail a img {
	height:325px;
	width: 250px;
	overflow: hidden;
}

.pointiller {
	border-bottom: 1px dashed #B3B3B3;
	margin-bottom: 15px;
}

.caption h1 a {
	font-size:16px;
	color: #000;
	text-decoration: none;
}

.caption h1 a:hover, a:focus {
	color: #AA161A;
	text-decoration: underline;
}

.thumbnail .caption {
	padding: 9px;
	color: #333;
	margin-top: -40px;
	margin-bottom: -45px;
}

.texte-rouge {
	font-weight:400;
	margin-top: 10px;
	font-size: 12px;
	color: #AA161A;
}

.texte-noir {
	font-weight:400;
	font-size: 12px;
	color: #000;

}

.texte-noir:hover {
	color: #AA161A;
}

.pagination {
	text-transform:uppercase;
	margin: 0px 5px 20px 5px;
	font-size:12px;
	font-weight:300;
	color:#fff;
}

.pagination:hover {
	color:#fff;
}

.btn-panier {
	position: relative;
	left: 130px;
	top: -50px;
	padding: 0;
	font-size: 14px;
	width: 115px;
	height: 40px;
	color: #fff;
	background-color: #AA161A;
	border-color: #AA161A;
}

.btn-panier:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-panier-in {
	position: relative;
	left: 130px;
	top: -50px;
	padding: 0;
	font-size: 14px;
	width: 115px;
	height: 40px;
	color: #fff;
	background-color: gray;
	border-color: gray;
}


/****************************************************
*													*
*													*
*					FORMULAIRE						*
*													*
*													*
****************************************************/
.form-group li{
	color:#AA161A;
	list-style:none;
	margin-left: -40px;
}

label {
	position:relative;
	padding: 15px 0 5px 0;
	font-weight: 300;
	color: #fff;
}

.asterix label::before {
	content:"*";
	position:absolute;
	right:-8px;
}

legend{
	text-transform:uppercase;
	font-weight:700;
	color:#fff;

}

form h6 a {
	/*top:-65px;*/
	font-size:12px;
	position:relative;
	float:right;
	font-weight:300;
	color:#fff;
}

form h6 a:hover {
	color:#fff;

}

.droite {
	float: right;
	position: relative;
	top: -54px;
	border: 1px solid #ccc;
	border-radius: 0;
	border-bottom-right-radius: 4px;
	border-top-right-radius: 4px;
}

.gauche:hover {
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-default-red{
	color: #fff;
	background-color: #AA161A;
	border-color: #AA161A;

}

.btn {
	padding: 6px 12px;
}
.btn-default-red:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.red-button{
	margin:20px 0 20px 0;
}

.imagebd{
	margin-top:20px;
}


.formsearch {
	margin-top: -30px;
	margin-bottom: 30px;
}

.filtre label{
	display: table-row-group;
}


.radio, .checkbox {
	position: relative;
	display: block;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 20px;
}

#formfilter{
	margin-bottom:20px;
}

.table-hover{
	background-color:#fff;
}
.table-hover a{
	color:#AA161A;
}

.table > thead > tr > th, .table > tbody > tr > th,
.table > tfoot > tr > th, .table > thead > tr > td,
.table > tbody > tr > td, .table > tfoot > tr > td {
	padding: 8px;
	line-height: 1.42857143;
	vertical-align: middle;
	border-bottom: 1px solid #ddd;
}

.textbouq{
	margin-right:20px;
	color:#fff;
}

.textbouq:hover{
	color:#fff;
}

.profile p{
	color:#fff;
}

.widgetpose{
	width: 100px;
	margin: 10px 10px 10px 0;
}

.crypto{
	width:50px;
}

.carte{
	width:150px;
}

#map-container { height: 400px; width: 100%; }


.flash-notice{
	text-transform:uppercase;
	color:#BFFF00;
	font-size:14px;
	font-weight:400;
	padding-bottom:10px;
}

.flash-error{
	text-transform:uppercase;
	color:#AA161A;
	font-size:14px;
	font-weight:400;
	padding-bottom:10px;
}

.etape{
	font-weight:700;
	position: absolute;
	top: 15px;
	left: 70px;

	letter-spacing:2px;
	text-transform: uppercase;
	color: #000;
	font-size: 20px;
	z-index: 999;
}

.parallelogram {
	margin:5px 0 5px 0;
	position: relative;
	width: 235px;
	height: 50px;
	background: #fff;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

.etape-active {
	font-weight:700;
	position: absolute;
	top: 15px;
	left: 70px;
	letter-spacing:2px;
	text-transform: uppercase;
	color: #fff;
	font-size: 20px;
	z-index: 999;
}

.parallelogram-active {
	margin:5px 0 5px 0;
	position: relative;
	width: 235px;
	height: 50px;
	background: #AA161A;
	-webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
}

#etape{
	margin-bottom:25px;
}

#bdloc_appbundle_user_raisons{
	margin-bottom: 10px;
}

#bdloc_appbundle_user_captcha{
	margin-left: 40px;
	margin-top: 10px;
	height: 50px;
	width: 200px;
	/*border-radius: 5px;*/
	display: block;
	text-align: center;
	font-size: 1.5em;
	letter-spacing: 10px;
}


/****************************************************
*													*
*													*
*					DETAIL: ;						*
*													*
*													*
****************************************************/
#details p{
	color:#000;
	font-weight:400;
}

.detail {
	position:relative;
	top:50px;
	display: block;
	padding: 10px;
	background-color: #fff;

}

.detail-txt{
	float:left;
	padding-right:50px;

}

.btn-panier-detail {
	font-size: 14px;
	width: 115px;
	height: 40px;
	color: #fff;
	background-color: #AA161A;
	border-color: #AA161A;
	margin-top: 50px;
	margin-left: -132px;
}

.btn-panier-detail:hover{
	color: #333;
	background-color: #e6e6e6;
	border-color: #adadad;
}

.btn-panier-detail-in {
	font-size: 14px;
	width: 115px;
	height: 40px;
	color: #454545;
	background-color: #818181;
	border-color: #818181;
}

.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
	background-color: #818181;
	color: #FFFFFF;
	border-color: #818181;
	color: #fff;
	margin-top: 50px;
	margin-left: -132px;

}

#dansvotrepanier {
	position: relative;
	left: 257px;
	top: -99px;
	font-size: 14px;
	width: 115px;
	height: 40px;
	color: #fff;
	margin-top: 50px;
	margin-left: -132px;
}


#dansvotrepanierdetails {
	font-size: 14px;
	width: 115px;
	height: 40px;
	color: #fff;
	margin-top: 50px;
	margin-left: -132px;
}

#ajouterdetails {
		font-size: 14px;
	width: 115px;
	height: 40px;
	color: #fff;
	margin-top: 50px;
	margin-left: -132px;
}

/****************************************************
*													*
*													*
*					MENU FOOTER						*
*													*
*													*
****************************************************/

footer{
	margin-top: 20px;
}

#copy {
 	font-weight:300;
	text-align: center;
	color:#fff;
	border-top: 1px dashed #444;
	padding:0;
}

#copy p {
	color: #fff;
	margin-top: 20px;
}

 #copy p a{
 	color: #AA161A;
 }

/*cache le jour dans le formulaire de paiement (date d'expiration)*/
 #bdloc_appbundle_creditcard_validUntil_day{
 	visibility: hidden;
 }