{% extends "::base.html.twig" %}


{% block main_content %}

{% for flashMessage in app.session.flashbag.get('notice') %}
            <div class="flash-notice">
                {{ flashMessage }}
            </div>
        {% endfor %}

        {% for flashMessage in app.session.flashbag.get('error') %}
            <div class="flash-error">
                {{ flashMessage }}
            </div>
        {% endfor %}

<h1>Entrez votre email</h1>

{{ form(forgotPasswordForm) }}

{% endblock %}