{% extends "::base.html.twig" %}


{% block main_content %}

<fieldset>
    <legend>Entrez votre email</legend>
    </fieldset>
<div class="col-md-6">
	<div class="form-group asterix">
	    <div class="col-md-12 ">
		
			{{ form(forgotPasswordForm, {'attr':{'novalidate': 'novalidate'}}) }}
	
		</div>
	</div>
</div>
<div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2">
        <img alt="marvel" src="{{ asset('img/bd-perso/marvel.jpg') }}"></a>
     </div>
 </div>
{% endblock %}