{% extends "::base.html.twig" %}


{% block main_content %}

	<fieldset>
    <legend>Entrez votre nouveau mot de passe</legend>
    </fieldset>
<div class="col-md-6">
	<div class="form-group">
	    <div class="col-md-12 ">
			{{ form(newPasswordForm, {'attr':{'novalidate': 'novalidate'}}) }}
		</div>
	</div>
</div>

<div class="col-md-6 ">
     <div class="col-md-6 col-md-offset-2">
        <img alt="m" src="{{ asset('img/bd-perso/m2.jpg') }}"></a>
     </div>
 </div>
 
{% endblock %}